// colors
$white: #fff;
$gray: #eee;
$darkgray: #aaa;
$bluetext: #4488bb;

body{
	font-family: Arial;
}

@mixin square{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

@mixin sixteen{
	font-size: 16px;
}

@mixin overlay{
	height: 100%;
	width: 100%;
	//background-color: rgba(148, 181, 208, .8);
	background-color: rgba(68, 136, 187, .5);
}



h1{
	color: $white;
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	padding-top: 37px;

	&:first-letter{
		text-transform: capitalize;
	}
}

h2{
	color: #4488bb;
	font-size: 24px;
	font-weight: 700;
	padding-top: 19px;
	padding-left: 18px;

	&:first-letter{
		text-transform: capitalize;
	}
}


.card{
	background-image: url('../img/card.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;

	.overlay {
		@include overlay;
		padding-bottom: 20px;

	}


}

.wrapper {
	width: 100%;
	margin: auto;
	top: 0;
	left: 0;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;

	.border {
		height: 5px;
		background-color: $white;
		margin-top: 26px;
	}

	.text {
		color: $white;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		padding-top: 25px;
		padding-right: 44px;
		padding-bottom: 31px;
	}

	.form {
		background-color: $white;
		width: 100%;
		margin-top: 26px;
		border-radius: 5px;
		box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.06);
		-webkit-box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.06);
		padding-bottom: 22px;
		max-width: 300px;
		margin: auto;

		form {
			margin-top: 12px;

			input[type=text] {
				background-color: $gray;
				display: block;
				border-radius: 3px;
				margin: 10px;
				padding: 6px 0 4px 10px;
				box-sizing: border-box;
			}
			input[type=text], select {
				@include sixteen;
				height: 50px;
				width: 280px;
				background-color: $gray;
				color: $darkgray;
				border: 1px solid $darkgray;
			}

			option {
				color: $darkgray;
			}
			input[type=submit] {
				background: linear-gradient(to top, #316489, #4386b9);
				height: 30px;
				width: 125px;
				border: 0;
				color: $white;
				margin-top: 17px;
				margin-left: 11px;
			}
			input[placeholder] {
				color: $darkgray;
			}

			input[type="checkbox"] {
				margin-top: 17px;
				margin-left: 12px;
			}
			select {

			}

		}

		a {
			color: $darkgray;
			text-decoration: none;
			padding-left: 48px;
		}
		p {
			display: inline-block;
			padding-left: 10px;
			color: $darkgray;
			margin-top: 0;
			margin-bottom: 0;

		}
	}
}
	.posts {
		background-color: $white;
		position: relative;
		margin-bottom: -118px;
		margin-top: 20px;

		.second-block {
			display: flex;
			flex-direction: center;
			flex-wrap: wrap;

			.post {
				margin: 10px;
				height: 170px;
				width: 100%;

				.overlay {
					@include overlay;
				}

				h2 {
					padding-left: 4px;
				}
				&:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4), &:last-child {
					@include square;
				}
				&:first-child {
					background-image: url('../img/arm.jpg');
					margin-top: 0;
				}
				&:nth-child(2) {
					background-image: url('../img/NatWest.jpg');
				}
				&:nth-child(3) {
					background-image: url('../img/mastercard.jpg');
				}
				&:nth-child(4) {
					background-image: url('../img/watch.jpg');
				}
				&:last-child {
					background-image: url('../img/books.jpg');
					z-index: 1000;
				}


				.textblock {
					position: absolute;
					top: 0;
					margin: 10px 13px 17px 20px;
					&::after {
						content: "";
						background-image: url(../img/icon.png);
						width: 18px;
						height: 18px;
						position: absolute;
						top: 0;
						right: 0;
					}

					.post-header {
						color: $white;
						font-size: 24px;
						font-weight: 700;
						line-height: 24px;
						padding-top: 0;
						position: relative;

					}

					.post-text {
						font-size: 14px;
						line-height: 18px;
						color: $white;
						margin-top: 13px;
					}
				}
			}

		}
	}

.posts{

}


.description{
	width: 100%;
	background-color: $gray;
	display: flex;
	flex-direction: column;
	z-index: 100;
	position: relative;
	
	.desktop{
		display: none;
	}
	
	.desktop-text{
		h2{
			display: none;
		}
		ul{
			list-style: none;
			padding-top: 80px;
			counter-reset: list 0;
			margin-bottom: 0;

			li{
				color: $bluetext;
				font-weight: 700;
				font-size: 18px;
				line-height: 25px;
				border-bottom: 1px dashed $darkgray;
				position: relative;
				padding: 15px 0;
				margin: 0 20px;

				&:before{
					content: counter(list);
					width: 30px;
					height: 30px;
					background-color: $bluetext;
					border-radius: 50%;
					position: absolute;
					margin-left: -50px;
					counter-increment: list;
					color: $white;
					line-height: 30px;
					text-align: center;
					top: 50%;
					margin-top: -15px;

				}

				&:last-child{
					border-bottom: 0;
					margin-bottom: 0;
				}
			}

		}
	}
}

.definitions{
	position: relative;
	margin: 20px 20px 23px 10px;
	border-left: 5px solid $bluetext;

	p {
		color: $bluetext;
		font-size: 18px;
		font-weight: 400;
		padding: 8px 0 8px 15px;

		sup{
			margin-right: 10px;
		}
	}
}



